<div class="search-bar">
    <input
            type="text"
            placeholder="Search films..."
            appAutofocus
            (input)="filmService.search.set($any($event.target).value)"
    />
</div>

<div class="grid">
    @for (film of filmService.filteredFilms(); track film.id) {
        <app-film-card
                [film]="film"
                (toggle)="filmService.toggleFavorite($event)"
        ></app-film-card>
    }
</div>

@if (filmService.filteredFilms().length === 0) {
    <p class="empty">Nothing found</p>
}
